.container {
  margin: 0 auto;
  margin-top: 10px;
  width: 600px;
  padding: 15px 30px;
  background-color: #d8d9f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.55);
  border-radius: 5px;
}
.title {
  text-align: center;
  color: blue;
}

.contacts {
  text-align: center;
  color: darkblue;
}
